<a href="https://colab.research.google.com/github/sabrinaMKE201073/DSroadmap2025/blob/main/notes/Intro_Functions_in_Python/intro_to_function_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to define our own functions

In [2]:
x = str(5)
print(x)
print(type(x))

5
<class 'str'>

In [6]:
#define a function
def square(): # <- Function header
  new_value = 4 ** 2 # <- Function body
  print(new_value)

square()

16

In [7]:
#Define a Function parameters (for any value)
def square(value):
  new_value = value ** 2
  print(new_value)

square(4)

16

In [8]:
square(5)

25

In [12]:
#Return values from function
def square(value):
  new_value = value ** 2
  print(new_value)

num = square(4)

print(num)

16
None

## DOCSTRINGS
> - Describe what your function does
> - Serve as documentation for ur function
> - Placed in the immediate line after the function header
> - In between triple double quotes " " "

In [16]:
def square(value):
  """Returns the square of a value."""
  new_value = value ** 2
  return new_value

In [18]:
company = 'DataCamp'
object1 = "data" + "analysis" + "visualization"
object2 = 1 * 3
object3 = "1" * 3

In [20]:
print(object1)
print(object2)
print(object3)

dataanalysisvisualization
3
111

In [23]:
x = 4.89
y1 = str(x)
y2 = print(x)

4.89

In [24]:
print(type(x))
print(type(y1))
print(type(y2))

<class 'float'>
<class 'str'>
<class 'NoneType'>

In [25]:
# Define the function shout
def shout():
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = 'congratulations' + '!!!'
    # Print shout_word
    print(shout_word)

# Call shout
shout()

congratulations!!!

In [27]:
# Define shout with the parameter, word
def shout(word):
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'
    # Print shout_word
    print(shout_word)

# Call shout with the string 'Good Job'
shout('Good Job')

Good Job!!!

In [28]:
# Define shout with the parameter, word
def shout(word):
    """Return a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Replace print with return
    return shout_word

# Pass 'congratulations' to shout: yell
yell = shout('congratulations')

# Print yell
print (yell)

congratulations!!!

In [29]:
def raise_both (value1, value2):
  """Raise value1 to the power of value2
  and vice versa."""

  new_value1 = value1 ** value2
  new_value2 = value2 ** value1

  new_tuple = (new_value1, new_value2)

  return new_tuple

In [30]:
result = raise_both (2, 3)
print(result)

(8, 9)

In [31]:
# Define shout with parameters word1 and word2
def shout(word1, word2):
    """Concatenate strings with three exclamation marks"""
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + '!!!'

    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + '!!!'

    # Concatenate shout1 with shout2: new_shout
    new_shout = shout1 + shout2

    # Return new_shout
    return new_shout

# Pass 'congratulations' and 'you' to shout(): yell
yell = shout('congratulations','you')

# Print yell
print(yell)

congratulations!!!you!!!

In [32]:
# A sample 3-element tuple (assume this was preloaded)
nums = (1, 3, 5)

# Unpack nums into num1, num2, and num3
num1, num2, num3 = nums

# Construct even_nums
even_nums = (2, num2, num3)

# Print to verify
print("Original nums:", nums)
print("Modified even_nums:", even_nums)

Original nums: (1, 3, 5)
Modified even_nums: (2, 3, 5)

In [33]:
# Define shout_all with parameters word1 and word2
def shout_all(word1, word2):
    """Return a tuple of strings"""
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + '!!!'

    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + '!!!'

    # Construct a tuple with shout1 and shout2: shout_words
    shout_words = (shout1,shout2)

    # Return shout_words
    return shout_words

# Pass 'congratulations' and 'you' to shout_all(): yell1, yell2
yell1, yell2 = shout_all('congratulations','you')

# Print yell1 and yell2
print(yell1)
print(yell2)

congratulations!!!
you!!!